openapi: 3.1.0
info:
  version: 0.1.0
  title: WeUnion API
  description: |
    This API provides secure and programmable **offramp services**, allowing users to convert digital assets (e.g., USDC) into fiat currency and withdraw funds to their linked bank accounts.

    ## Conventions

    ### Timestamps
    All timestamps in requests and responses use **ISO 8601 format in UTC timezone** (e.g., `2025-08-07T09:00:00Z`). The `Z` suffix is required to indicate UTC.

    ### Pagination
    List endpoints use 1-based page numbering. The `page` parameter starts from 1, and `pageSize` accepts values between 1 and 100 (default: 10).

    ### Response Content Types
    - **Success responses**: `application/json`
    - **Error responses**: `application/problem+json` ([RFC 7807](https://tools.ietf.org/html/rfc7807))

    Clients should handle both content types appropriately.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://weunion.eight-art.com/v1/offramp

tags:
  # Getting Started (Learning Path)
  - name: Getting Started
    description:
      $ref: "docs/getting_started.md"

  - name: Overview
    description:
      $ref: "docs/overview.md"

  - name: Authentication
    description:
      $ref: "docs/authentication.md"

  # Core API Endpoints (Business Flow)
  - name: Quote Endpoints
    description: |
      Endpoints for managing quotes, including listing and retrieving quotes.

  - name: Offramp Transaction Endpoints
    description: |
      Endpoints for managing offramp transactions, including creation, approval, rejection, and status updates.

  - name: VASP Endpoints
    description: |
      Endpoints for managing Virtual Asset Service Providers (VASPs), including listing and retrieving VASP information.

  # Webhook (Async Notifications)
  - name: Webhook Endpoints
    description:
      $ref: "docs/webhook.md"

  - name: Webhook Authentication
    description:
      $ref: "docs/webhook_auth.md"

  # Reference Documentation
  - name: Status Transitions
    description:
      $ref: "docs/status_transitions.md"

  - name: Error Codes
    description:
      $ref: "docs/error_codes.md"

  - name: Travel Rule
    description:
      $ref: "docs/travel_rule.md"

  # BFI Implementation
  - name: BFI Quote Endpoints
    description:
      $ref: "docs/bfi_quote.md"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey

security:
  - ApiKeyAuth: []

paths:
  "/vasps/{id}":
    $ref: paths/vasps_{id}.yaml
  "/vasps/list":
    $ref: paths/vasps_list.yaml

  "/quotes/{id}":
    $ref: paths/quotes_{id}.yaml
  "/quotes/list":
    $ref: paths/quotes_list.yaml

  "/transactions":
    $ref: paths/transactions.yaml
  "/transactions/cancel":
    $ref: paths/transactions_cancel.yaml
  "/transactions/approve":
    $ref: paths/transactions_approve.yaml
  "/transactions/accept":
    $ref: paths/transactions_accept.yaml
  "/transactions/reject":
    $ref: paths/transactions_reject.yaml
  "/transactions/transfer":
    $ref: paths/transactions_transfer.yaml
  "/transactions/complete":
    $ref: paths/transactions_complete.yaml
  "/transactions/{id}":
    $ref: paths/transactions_{id}.yaml
  "/transactions/list":
    $ref: paths/transactions_list.yaml

  "/vasps/webhook":
    $ref: paths/vasps_webhook.yaml

  "/vasps/quote":
    $ref: paths/vasps_quote.yaml
